@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  height: 100dvh;
  margin: 0;
  padding: 0;
}


textarea {
  vertical-align: top;
  resize: none;
  height: 93dvh;
  width: calc(100% - 8dvh);
  background: none;
  outline: none;
  border: 1px solid red;
}

div {
  bottom: 5dvmin;
  height: 3rem;
}